.ui.secondary.menu
  = link_to "главаная", root_path, class: 'ui button red'
  = link_to "Обьявления", courses_path, class: 'ui button orange'
  = link_to "Категории", categories_path, class: 'ui button orange'
  .right.menu
    = link_to "создать обьявление", new_course_path, class: 'ui button orange'

-#    <a href="tasks.html" class="ui button blue">просмотреть задания</a>
-#    <a href="new_task.html" class="ui button blue">создать задание</a>

-#    <a href="profile.html" class="ui item">Профиль</a>
-#    <a class="ui item">язык</a>
